<% provide(:title, t('.title')) %>
<% provide(:meta_description, t('static_pages.condicionscompra.description_seo')) %>
<% content_for :titols do %>
  <h1><%= t('.title') %></h1>
<% end %>
<div class="condicions">
  <ul>
    <li><a href="#proces" title="El procés de compra a Quatre Mans" class="smoothscroll">El procés de compra a Quatre Mans</a></li>
    <li><a href="#recepcio" title="Confirmació de la recepció correcta de la comanda" class="smoothscroll">Confirmació de la recepció correcta de la comanda</a></li>
    <li><a href="#preus" title="Preus" class="smoothscroll">Preus</a></li>
    <li><a href="#disponibilitat" title="Disponibilitat de productes" class="smoothscroll">Disponibilitat de productes</a></li>
    <li><a href="#comandes_minimes_maximes" title="Comandes mínimes i màximes" class="smoothscroll">Comandes mínimes i màximes</a></li>
    <li><a href="#transport" title="Transport" class="smoothscroll">Transport</a></li>
    <li><a href="#canvis_devolucions" title="Canvis i devolucions" class="smoothscroll">Canvis i devolucions</a></li>
    <li><a href="#formes_pagament" title="Formes de pagament" class="smoothscroll">Formes de pagament</a></li>
    <li><a href="#seguretat_pagaments_tarjeta" title="Seguretat en els pagaments amb tarjeta" class="smoothscroll">Seguretat en els pagaments amb tarjeta</a></li>
    <li><a href="#dades_personals" title="Comprovació de dades personals" class="smoothscroll">Comprovació de les dades personals</a></li>
    <li><a href="#politica_privacitat" title="Política de privacitat" class="smoothscroll">Política de privacitat</a></li>
  </ul>

  <a name="proces" id="proces" title="Com comprar a Quatremans?"></a>
  <h2>El procés de compra a Quatre Mans</h2>

  <p>Per comprar a “Quatre Mans” us heu de registrar com a usuari, indicant les vostres dades personals i una adreça de tramesa. La confidencialitat de les vostres dades i la seguretat de la transacció estan garantides en tot moment.</p>
  <p>Una vegada us heu registrat, tan sols heu d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Podeu fer-ho mitjançant els accessos directes de la part de dalt de la pantalla o bé seleccionant un dels articles a la col·lecció.</p>
  <p>Per conèixer més detalls d’un producte tan sols heu de fer-hi clic i podreu visualitzar un fitxa amb informació completa sobre les seves característiques, teixits, preu, etc. Fent clic al dibuix que es mostra a la fitxa de cada article de la col·lecció s’obrirà una finestra de personalització amb els teixits i estampats que hi ha disponibles. Un cop hagueu seleccionat les opcions que us interessin, feu clic a Guarda i ja podreu afegir-la a la cistella de la compra.</p>
  <p>El procediment de compra a la nostra botiga és similar al de qualsevol compra que pugueu fer físicament en una botiga física. Una vegada hagueu escollit el producte que voleu comprar, l'haureu d'incloure a la cistella com a pas previ al pagament; per fer-ho només heu de fer clic a la icona de la cistella que es visualitza a la fitxa de cada producte.</p>
  <p>La cistella de la compra sempre us mostrarà els productes que heu seleccionat i des de la cistella podreu continuar visitant la col·lecció, aturar la compra, desar els articles seleccionats per continuar comprant posteriorment, recuperar els articles desats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>
  <p>Per revisar la cistella completa i determinar les quantitats que voleu rebre de cada producte, heu de fer clic a l'icona “Cistella”, a la part superior de la pàgina. Una vegada hagueu seleccionat tots els productes que vulgueu, feu clic al botó “Actualitzar comanda” i, finalment, des d’aquesta mateixa pàgina, premeu el botó “Realitzar comanda” quan vulgueu iniciar el procés de compra. Després, simplement seguiu les instruccions que s’aniran visualitzant a la pàgina. Si trobeu alguna dificultat al llarg del procés, poseu-vos en contacte amb nosaltres la nostra <%= mail_to "info@quatremans.cat", "adreça electrònica", :encode => "hex" %> o trucant al telèfon XXX i us ajudarem a resoldre el problema.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="recepcio" id="recepcio" title="Confirmació de la recepció correcta de la comanda"></a>
  <h2>Confirmació de la recepció correcta de la comanda</h2>

  <p>Una vegada hagueu fet la comanda, rebreu a la vostra adreça de correu electrònic un missatge de confirmació amb totes les dades de la vostra compra. Aquesta és la verificació que la comanda s’està gestionant. Si heu fet la compra i no rebeu el missatge de confirmació, sisplau, poseu-vos en contacte amb nosaltres a la nostra <%= mail_to "info@quatremans.cat", "adreça electrònica", :encode => "hex" %> o trucant al telèfon XXX.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="preus" id="preus" title="Preus"></a>
  <h2>Preus:</h2>

  <p>Tots els nostres preus inclouen l’IVA. Els preus mostrats són en euros (€).</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="disponibilitat" id="disponibilitat" title="Disponibilitat de productes"></a>
  <h2>Disponibilitat de productes</h2>

  <p>En un principi, tots els nostres productes estan disponibles, a menys que s’indiquin com a “no disponibles”. Tingueu en compte que gairebé tots els nostres productes tenen una producció limitada, per la seva naturalesa artesana.</p>

  <p>Les nostres bases de dades s’actualitzen automàticament en confirmar-se les comandes. Així doncs, es pràcticament impossible que demaneu un producte no disponible. En el cas que això arribés a passar, us contactarem immediatament per proposar-vos un producte semblant o reemborsar-vos l’import corresponent.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="comandes_minimes_maximes" id="comandes_minimes_maximes" title="Comandes mínimes i màximes"></a>
  <h2>Comandes mínimes i màximes</h2>

  <p>No hi ha comandes mínimes, però tingueu en compte que una bona manera de minimitzar les despeses de transport es fer una comanda gran, com ara compartint-la entre diversos amics o familiars. Si la comanda supera els 100 € de despesa i no supera els 15 kg, el transport serà gratuït per als enviaments a la península.</p>

  <p>El pes màxim per comanda es de 40 kg. Per a comandes de pes superior, poseu-vos en contacte amb nosaltres.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="transport" id="transport" title="Transport"></a>
  <h2>Transport</h2>

  <p>Per poder garantir un transport correcte i una entrega adequada, treballem amb MRW, una empresa amb molta experiència, reconeguda i certificada. Tots els enviaments estan adequadament envasats i protegits.</p>
  <p>A “Quatre Mans” procurem fer un ús responsable dels materials de rebuig. És per això que hem optat per utilitzar bosses de roba per a l’enviament dels kits. La rebreu dins la bossa de plàstic estàndard de l’empresa de transport.</p>
  <p>En condicions normals, les comandes es lliuren en un termini de sis dies laborables.</p>
  <p>La nostra botiga en línia està oberta a qualsevol consumidor resident a l’Espanya peninsular, les Balears i la Unió europea; se n’exceptua el servei a les Illes Canàries, Ceuta, Melilla i Gibraltar. Si residiu en algun d’aquests territoris o en altres, podeu posar-vos en contacte amb nosaltres a la nostra <%= mail_to "info@quatremans.cat", "adreça electrònica", :encode => "hex" %> o telefonant al número XXX, on us informarem i us oferirem un tracte més personalitzat.</p>
  <p>No fem enviaments a apartats de correus i us recomanem que feu les vostres comandes amb la màxima antelació a l’època de Nadal, en què per qüestions de logística el termini de tramesa podria ser més llarg.</p>
  <p>El preu del transport s’indicarà automàticament en afegir els articles a la cistella de la compra; també podeu consultar el preu per pes i destinació a les taules següents.</p>
  <p>Tingueu en compte que si la comanda supera els 100 € d’import i no passa dels 15 kg, el transport serà gratuït per a enviaments a la península.</p>



  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="canvis_devolucions" id="canvis_devolucions" title="Canvis i devolucions"></a>
  <h2>Canvis i devolucions</h2>

  <p>Si per qualsevol raó no us satisfà la vostra compra, podeu contactar amb nosaltres a la nostra <%= mail_to "info@quatremans.cat", "adreça electrònica", :encode => "hex" %> o telefonant al XXX, en un temps màxim de 7 dies laborables des de la recepció de la comanda, indicant clarament quin és el problema. En el temps més breu possible us contactarem per trobar una solució satisfactòria i indicar-vos els passos que heu de seguir.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="formes_pagament" id="formes_pagament" title="Formes de pagament"></a>
  <h2>Formes de pagament</h2>

   
  <p>El pagament es farà amb targeta de dèbit o crèdit, que és el mitjà més utilitzat al comerç electrònic, per l’alt nivell de seguretat que ofereix i la seva agilitat demostrada. Aquesta forma de pagament es pot utilitzar amb Caixa de Catalunya o Paypal. En finalitzar la comanda, se us redireccionarà al web corresponent i només haureu d’introduir el vostre número de targeta i la data de caducitat. El sistema de pagament segur registrarà l’operació.</p>
  <p>No obstant, si ho preferiu també podeu fer el pagament per transferència bancària al número de compte 3140 0001 93 0011022500 de Caixaguissona. Començarem a preparar la vostra comanda tan bon punt es faci efectiva la transferència.</p>
  <p>Per qualsevol dubte, us agrairem que us poseu en contacte amb nosaltres per <%= mail_to "info@quatremans.cat", "mail", :encode => "hex" %> o trucant al telèfon XXX per informar-vos i oferir-vos un tracte més personalitzat.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="seguretat_pagaments_tarjeta" id="seguretat_pagaments_tarjeta" title="Seguretat en els pagaments amb tarjeta"></a>
  <h2>Seguretat en els pagaments amb tarjeta</h2>

  <p>El servei de pagament amb targeta bancària està cancel·lat fins a nou avís.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="dades_personals" id="dades_personals" title="Comprovació de les dades personals"></a>
  <h2>Comprovació de les dades personals</h2>

  <p>“Quatre Mans” es reserva el dret a contactar amb els seus clients i/o efectuar determinades comprovacions quan ho consideri oportú, amb la finalitat de garantir l’autenticitat de les dades personals i evitar el frau amb targetes de crèdit.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

   

  <a name="politica_privacitat" id="politica_privacitat" title="Política de privacitat"></a>
  <h2>Política de privacitat</h2>

  <p>“Quatre Mans” respecta el vostre dret a la privacitat: només utilitzem les vostres dades personals per oferir-vos un millor servei. En cap cas les vendrem o compartirem amb tercers. Podreu accedir a les vostres dades, rectificar-les o cancel·lar-les en qualsevol moment.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>

</div>