<% provide(:title, t('.title')) %>
<% content_for :titols do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="quisom">
  <ul>
    <li><a href="#<%= t('static_pages.quisom.anchor_inicis') %>" title="Els inicis de Quatremans" class="smoothscroll">Els inicis</a></li>
    <li><a href="#<%= t('static_pages.quisom.anchor_projecte') %>" title="El projecte Quatremans" class="smoothscroll">El projecte</a></li>
    <li><a href="#<%= t('static_pages.quisom.anchor_nina') %>" title="La nina Camesllargues" class="smoothscroll">La nina Camesllargues</a></li>
    <li><a href="#<%= t('static_pages.quisom.anchor_faq') %>" title="Preguntes i respostes" class="smoothscroll">Preguntes i respostes</a></li>
  </ul>

  <%= image_tag("quisom/quisom.png") %>

  <a id="<%= t('static_pages.quisom.anchor_inicis') %>" title="Els inicis"></a>
  <h2>Els inicis</h2>

  <p>Com tantes altres coses bones –com la recepta de les peres farcides de l’àvia Montserrat o dels brunyols de l’àvia Lola–, el gust per la costura i per les labors l’hem adquirit de la mà de les nostres mares i àvies. A la nostra família sempre s’ha cosit, i a casa no era inusual l’escena d’un cosidor atrafegat, amb les dones a la màquina cosint i els petits fent rotllana al seu voltant, reciclant els retalls per als nostres jocs imaginatius o donant un cop de mà girant les tires dels davantals que durant una època s’anaven a vendre a Girona.</p>
  <p>De ben petites hem après a enfilar l’agulla i ens hem divertit fent les nostres pròpies creacions, primer per a les nines o per disfressar-nos i més tard per vestir-nos al nostre gust. És un llegat que hem sabut valorar i que hem anat transmetent també als nostres fills i filles. No és només cosa de nenes, sabeu?, també els vailets han après a cosir de manera natural i per satisfer les seves inquietuds. Tots plegats ens hem posat a la màquina per cosir bosses per als petards dels correfocs, per cosir el vestuari o l’attrezzo de més d’un espectacle o simplement per sorgir una bossa foradada.</p>
  <p>Formem part de tres generacions d’aquesta família de cosidores, les primeres amb molt d’art i imaginació, la darrera ja amb estudis específics de disseny per dedicar-s’hi professionalment. Podríem dir que Quatre Mans és fruit de tota aquesta tradició i és possible gràcies a la dedicació professional al disseny de moda i al disseny de pàgines web, per una banda, i a l’esperit emprenedor, per l’altra.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>



  <a id="<%= t('static_pages.quisom.anchor_projecte') %>" title="El projecte"></a>
  <h2>El projecte</h2>

  <p>Quatre Mans pretén suplir les mans expertes i avesades a l’agulla i les tisores de les àvies d’abans i té com a objectiu facilitar la feina a aquells que s’engresquin a aprendre a cosir amb nosaltres o a reprendre el fil.</p>
  <p>Us oferim peces de roba originals que han estat dissenyades expressament pensant en la simplicitat a l’hora de fer-les, però sense renunciar a obtenir un resultat impecable: una roba que els nens vulguin posar-se cada dia i que resisteixi totes les seves aventures salvatges.</p>
  <p>Els nostres kits inclouen tot el necessari per realitzar la peça de roba triada, des dels teixits fins a les agulles i els fils, passant per les gomes, els botons... A cada kit hi trobareu unes instruccions pas a pas molt il·lustratives i explicades en llenguatge planer. Només hi heu d’afegir el temps i les ganes de lluir-vos-hi. Amb la nostra ajuda, ja veureu que serà fàcil!</p>
  <p>Actualment vestim a nens i nenes de 2 a 12 anys i a la nina Camesllargues. La idea és que mentre vosaltres cosiu pugueu ensenyar a cosir també als petits de la casa, encomanant-los el gust per la costura.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>



  <a id="<%= t('static_pages.quisom.anchor_nina') %>" title="La nina Camesllargues"></a>
  <h2>La nina Camesllargues</h2>

  <p>La nostra nina va néixer fa un parell d’anys com a part d’un treball de carrera i ens ha robat el cor per la gràcia amb què sap portar els nostres dissenys.</p>
  <p>Està feta de loneta de cotó i farcida amb cotó fluix al cos i arròs a les extremitats (però admet variacions). Mesura uns 50 cm i és prou lleugera perquè hi jugui una nena de 2 anys i alhora prou estilitzada perquè agradi a una de 12 fins a 99 anys.</p>
  <p>És també una bona idea de regal: podeu regalar un conjunt i completar-lo amb la nina Camesllargues vestida de la mateixa manera, per exemple. Les possibilitats són moltes. Totes les peces de roba de la mainada estan disponibles també per a la Camesllargues. Fins i tot pot ser un bon regal com a nina decorativa, que podeu personalitzar al vostre gust.</p>


  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>



  <a id="<%= t('static_pages.quisom.anchor_faq') %>" title="Preguntes i respostes"></a>
  <h2>Preguntes i respostes</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>


