<% provide(:title, t('.title')) %>
<% content_for :titols do %>
  <h1><%= t('.title') %></h1>
<% end %>

<div class="quisom">
  <ul>
    <li><a href="#<%= t('static_pages.quisom.anchor_inicis') %>" title="Els inicis de Quatremans" class="smoothscroll">Els inicis</a></li>
    <li><a href="#<%= t('static_pages.quisom.anchor_projecte') %>" title="El projecte Quatremans" class="smoothscroll">El projecte</a></li>
    <li><a href="#<%= t('static_pages.quisom.anchor_nina') %>" title="La nina Camesllargues" class="smoothscroll">La nina Camesllargues</a></li>
    <li><a href="#<%= t('static_pages.quisom.anchor_faq') %>" title="Preguntes i respostes" class="smoothscroll">Preguntes i respostes</a></li>
  </ul>

  <%= image_tag("quisom/quisom.png") %>

  <a id="<%= t('static_pages.quisom.anchor_inicis') %>" title="Els inicis"></a>
  <h2>Els inicis</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Una vegada s’ha enregistrat, tan sòls ha d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Basta amb utilitzar el menú de la pantalla o be seleccionar alguna de les diferents categories de productes existents. Al mateix temps, pot accedir-hi de forma ràpida a qualsevol producte mitjançant les opcions de recerca disponibles.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>



  <a id="<%= t('static_pages.quisom.anchor_projecte') %>" title="El projecte"></a>
  <h2>El projecte</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Una vegada s’ha enregistrat, tan sòls ha d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Basta amb utilitzar el menú de la pantalla o be seleccionar alguna de les diferents categories de productes existents. Al mateix temps, pot accedir-hi de forma ràpida a qualsevol producte mitjançant les opcions de recerca disponibles.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>



  <a id="<%= t('static_pages.quisom.anchor_nina') %>" title="La nina Camesllargues"></a>
  <h2>La nina Camesllargues</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Una vegada s’ha enregistrat, tan sòls ha d’escollir els productes. Moure’s per la nostra botiga es molt senzill i intuïtiu. Basta amb utilitzar el menú de la pantalla o be seleccionar alguna de les diferents categories de productes existents. Al mateix temps, pot accedir-hi de forma ràpida a qualsevol producte mitjançant les opcions de recerca disponibles.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>


  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>



  <a id="<%= t('static_pages.quisom.anchor_faq') %>" title="Preguntes i respostes"></a>
  <h2>Preguntes i respostes</h2>

  <p>Per comprar a “Quatremans” s'haurà de registrar com a usuari, indicant les seves dades personals i una adreça|de tramesa. En tot moment la confidencialitat de les seves dades i la seguretat de la transacció estan garantides.</p>

  <p>Per a conèixer més detalls d’un producte tan sols haurà de polsar sobre el mateix i podrà visualitzar un fitxa amb completa informació sobre les seves característiques, origen, preu, disponibilitat, etc.<br />
  El procediment de compra de la nostra botiga es similar a qualsevol compra que realitzi físicament en qualsevol comerç. Una vegada hagi escollit el producte que desitgi adquirir, l'haurà d'incloure a la cistella com a pas previ al pagament del mateix; per a això, només haurà de prémer la icona que mostra “afegir a la cistella” situat a cada producte.</p>

  <p>La cistella de compra sempre l’hi mostrarà els productes que vostè hagi seleccionat i des de ell podrà continuar visitant el catàleg de productes, detenir la compra, guardar els articles seleccionats per a continuar comprant posteriorment, recuperar els articles guardats en alguna visita anterior i procedir a la compra dels articles seleccionats.</p>

  <a href="#dalt" title="Tornar a dalt" class="smoothscroll">Tornar a dalt</a>


