<% content_for :titols do %>
  <h1><%= resource_name.to_s.humanize %></h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i> (deixa-la en blanc si no la vols modificar)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i> (necessitem la teva clau de pas actual per confirmar les modificacions)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Guardar" %></div>
<% end %>


<%= link_to "Tornar", :back %>
