<% provide(:title, "#{t("productes.index.title")} | #{@producte.nom}") %>
<% provide(:class, "producte") %>
<% content_for :h1 do %>
  <h1><%= @producte.nom %></h1>
  <h2><%= link_to t("coleccions.coleccio_x", :nom => @producte.coleccio.nom), @producte.coleccio %></h2>
<% end %>

<div class="quadre">
  <div class="fotos">
    <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Foto 1" class="gran" rel="zoom">
      <%= image_tag("images/#{@producte.id}_1.jpg", id: "main_image", alt: "Foto 1") %>
    </a>
  </div>
  <div class="dibuix">
    <a href="<%= edit_cart_item_path(id: @producte.id) %>" class="personalitza" title="Configuracio">
      <%= image_tag("images/dibuix_#{@producte.id}.png", id: "dibuix", alt: "Personalitza") %>
    </a>
  </div>
  <div class="dret">
    <p class="descripcio">Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad.<br />Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad.</p>
    
    <p class="preu">25€ <a href="" title="Afegir a la cistella"><span>Afegir a la cistella</span></a></p> 
    <p class="dificultat"><span class="badge badge-success">facil</span></p>
  </div>
</div>
<div class="thumbs">
  <a href="<%= asset_path("images/#{@producte.id}_2.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_2.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_1.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_3.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_2.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_1.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_3.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_2.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_1.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_3.jpg", alt: "Foto 1") %>
  </a>
  <a href="<%= asset_path("images/#{@producte.id}_1.jpg") %>" title="Fotos" rel="zoom">
    <%= image_tag("images/#{@producte.id}_1.jpg", alt: "Foto 1") %>
  </a>
</div>