<% provide(:title, "#{t("productes.index.title")} | #{@producte.nom}") %>
<% provide(:class, "producte") %>
<% content_for :titols do %>
  <h2><%= link_to @producte.coleccio.nom, @producte.coleccio, :title => t('coleccions.coleccio_x', :nom => @producte.coleccio.nom) %></h2>
  <h1><%= @producte.nom %></h1>
<% end %>

<div class="quadre">
  <div class="fotos">
    <a href="<%= @producte.fotos.first.file.url(:wide) %>" title="<%= @producte.nom %>" class="gran" rel="zoom">
      <%= image_tag("#{@producte.fotos.first.file.url(:medium)}", id: "main_image", alt: @producte.nom) %>
    </a>
  </div>
  <div class="dibuix">
    <a href="<%= edit_cart_item_path(id: @producte.id) %>" class="personalitza" title="<%=t('carts.personalitza.titol_fitxa')%>">
      <%= image_tag(@producte.dibuix.url(:medium), id: "dibuix", alt: t('carts.personalitza.titol_fitxa')) %>
    </a>
  </div>
  <div class="dret">
    <div class="descripcio"><%= simple_format(@producte.descripcio) %></div>
    
    <p class="preu">
      <a href="<%= edit_cart_item_path(id: @producte.id) %>" class="personalitza" title="<%=t('carts.personalitza.titol_fitxa')%>"><span><%=t("carts.add")%></span></a>
      <%= number_with_precision(@producte.preu) %>€
    </p> 
    <p class="dificultat">
      <span><%=t("activerecord.attributes.producte.dificultat")%>:</span>
      <%= image_tag("nivell_#{@producte.dificultat>=1?"si":"no"}.png", :alt => t("activerecord.attributes.producte.dificultat")) %>
      <%= image_tag("nivell_#{@producte.dificultat>=2?"si":"no"}.png", :alt => t("activerecord.attributes.producte.dificultat")) %>
      <%= image_tag("nivell_#{@producte.dificultat>=3?"si":"no"}.png", :alt => t("activerecord.attributes.producte.dificultat")) %>
      <%= image_tag("nivell_#{@producte.dificultat>=4?"si":"no"}.png", :alt => t("activerecord.attributes.producte.dificultat")) %>
    </p>
  </div>
</div>
<div class="thumbs">
  <% @producte.fotos.each do |foto| %>
  <a href="<%= foto.file.url(:wide) %>" title="<%= @producte.nom %>" rel="zoom">
    <%= image_tag(foto.file.url(:medium), alt: @producte.nom ) %>
  </a>
  <% end %>
</div>