<% provide(:title, "#{t("productes.index.title")} | #{@producte.nom}") %>
<% provide(:class, "producte") %>
<% content_for :h1 do %>
  <h1><%= @producte.nom %></h1>
  <h2><%= link_to t("coleccions.coleccio_x", :nom => @producte.coleccio.nom), @producte.coleccio %></h2>
<% end %>

<div class="quadre">
  <div class="fotos">
    <a href="<%= @producte.fotos.first.file.url(:wide) %>" title="Foto 1" class="gran" rel="zoom">
      <%= image_tag("#{@producte.fotos.first.file.url(:medium)}", id: "main_image", alt: "Foto 1") %>
    </a>
  </div>
  <div class="dibuix">
    <a href="<%= edit_cart_item_path(id: @producte.id) %>" class="personalitza" title="Configuracio">
      <%= image_tag("images/dibuix_2.png", id: "dibuix", alt: "Personalitza") %>
    </a>
  </div>
  <div class="dret">
    <div class="descripcio"><%= simple_format(@producte.descripcio) %></div>
    
    <p class="preu">25€ <a href="" title="Afegir a la cistella"><span>Afegir a la cistella</span></a></p> 
    <p class="dificultat"><span class="badge badge-success">facil</span></p>
  </div>
</div>
<div class="thumbs">
  <% @producte.fotos.each do |foto| %>
  <a href="<%= foto.file.url(:wide) %>" title="Fotos" rel="zoom">
    <%= image_tag(foto.file.url(:medium), alt: "Foto") %>
  </a>
  <% end %>
</div>