      <tr>
        <td></td>
        <td class="detalls">
          <h4>Adreça de lliurament</h4>
          <p>
            <% if @cart.shipment_address %>
              <%= @cart.shipment_address.first_name %> <%= @cart.shipment_address.last_name %><br />
              <%= @cart.shipment_address.street %><br />
              <%= @cart.shipment_address.zip %> <%= @cart.shipment_address.city %><br />
              <%= @cart.shipment_address.provincia.name %>, <%= @cart.shipment_address.country.name %>
            <% else %>
              Si us plau, introduïu l'adreça de facturació per poder finalitzar la comanda.
            <% end %>
          </p>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="detalls">
          <h4>Adreça de facturació</h4>
          <p>
            <% if @cart.invoice_address %>
              <%= @cart.invoice_address.first_name %> <%= @cart.invoice_address.last_name %><br />
              <%= @cart.invoice_address.dni %><br />
              <%= @cart.invoice_address.street %><br />
              <%= @cart.invoice_address.zip %> <%= @cart.invoice_address.city %><br />
              <%= @cart.invoice_address.provincia.name %>, <%= @cart.invoice_address.country.name %>
            <% else %>
              Si us plau, introduïu l'adreça de facturació per poder finalitzar la comanda.
            <% end %>
          </p>
        </td>
        <td></td>
        <td></td>
      </tr>
      <% if @cart.shipment_address %>
        <tr>
          <td></td>
          <td class="total_label">
            Preu del lliurament:
          </td>
          <td></td>
          <td class="preu total"><%=number_to_currency(@cart.shipping_amount)%></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td class="total_label">
          TOTAL:
        </td>
        <td></td>
        <td class="preu total"><%=number_to_currency(@cart.total_amount)%></td>
      </tr>
