<%= form_for(@item, :remote => true, :html => {:class=>"form_model"}) do |f| %>
  <div class="dibuix">
    <% if @item.producte.tipus=='model' %>
      <%= image_tag("/assets/config/nena.jpg") %>
    <% end %>
    <%= render 'vestit' %>
    <div class="subproductes">
      <% Producte.where("coleccio_id = ? AND tipus='model_nina'",@item.producte.coleccio.id).each do |subproducte| %>
      <img src="<%=subproducte.fotos.first.file.url(:thumb)%>" id="dibuix_subproducte_<%=subproducte.id%>" <%if (!@item.get_parametre_subproducte(subproducte.id)) %> style="display:none" <% end %>/>
      <% end %>
    </div>
  </div>
  <div class="caixa <%=@item.producte.tipus%>">
    <h1><%=t('carts.personalitza.titol')%></h1>
    <%@item.producte.configparametres.each do |parametre|%>
      <%= render :partial => "parametre", :locals=>{:parametre => parametre} %>
    <% end %>
    <% if @item.producte.tipus=='nina' %>
      <div class="vestits">
        <p class="preu_nina"><%=@item.producte.preu%></p>
        <ul>
          <% Producte.where("coleccio_id = ? AND tipus='model_nina'",@item.producte.coleccio.id).each do |subproducte| %>
            <li id="subproducte_<%=subproducte.id%>">
              <div class="subproducte">
                <img src="<%=subproducte.fotos.first.file.url(:thumb)%>" />
                <input type="checkbox" name="cart_item[subproducte_<%=subproducte.id%>]" class="seleccio" id="seleccio_subproducte_<%=subproducte.id%>" value="1" <%if (@item.get_parametre_subproducte(subproducte.id)) %>checked="checked" <% end %> />
                <a class="dropdown-toggle" href="#" id="link_subproducte_<%=subproducte.id%>">
                  <%=subproducte.nom%>:
                  <b class="caret" />
                </a>
              </div>
              <div class="subproducte_opcions<%if (@item.get_parametre_subproducte(subproducte.id)) %> selected<% end %>" <%if (@item.get_parametre_subproducte(subproducte.id)) %> style="display:block" <% end %>>
                <p class="preu">Preu: <span><%= number_with_precision(subproducte.preu) %></span>€</p>
                <% subproducte.configparametres.each do |parametre| %>
                  <%= render :partial => "parametre", :locals=>{:parametre => parametre} %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <br style="clear:both" />
        <p class="preu_total">Total: <span><%=number_with_precision(@item.unit_price)%></span>€</p>
      </div>
    <% end %>
    <br style="clear:both" />
    <div class="botons">
      <a href="#" class="boto cistella"><span></span><% if @item.quantity>0 %>Guardar<% else %>Afegir a la cistella<% end %></a>
      <a href="<%=edit_cart_path %>" class="boto tornar"><span></span>Tancar</a>
    </div>
    <script type="text/javascript">
      $(".boto.cistella").click(function() {
        $(".form_model").submit();
        return false;
      });
      $(".form_model")
        .bind('ajax:before', function(xhr, settings) { })
        .bind('ajax:success',    function(data, status, xhr) { 
          if (status.target=='parent') window.parent.location.href = status.url;
          else window.location.href = status.url;
         })
        .bind('ajax:complete', function(xhr, status) { })
        .bind('ajax:error', function(xhr, status, error) { alert("S'ha produït un error. Perdoneu les molèsties") })
      $(".boto.tornar").click(function() {
        parent.$.fancybox.close();
        return false;
      });
    </script>    

    <div id="zoom"></div>
  </div>
<% end %>