<%= form_for(@item) do |f| %>
  <div class="dibuix">
    <%= image_tag("/assets/config/nena.jpg") %>
    <%= render 'vestit' %>
  </div>
  <div class="caixa">
    <h1><%=t('carts.personalitza.titol')%></h1>
    <%@item.producte.configparametres.each do |parametre|%>
    <div class="mostres">
      <label><%=parametre.nom%>:</label>
      <input type="hidden" name="parametre_<%=parametre.id%>" value="<%=parametre.configgrup.configopcions.first.id%>" />
      <ul>
        <% parametre.configgrup.configopcions.each do |opcio| %>
        <li><a href="<%=opcio.id%>" class="<%=parametre.configgrup.configopcions.first.id==opcio.id ? "selected" : "" %>" id="opcio_<%=opcio.id%>" title="<%=opcio.nom%>"><%= image_tag("images/config/mostres/#{opcio.id}.jpg", :alt => opcio.svg) %></a></li>
        <% end %>
      </ul>
      <br class="clear" />
    </div>
    <% end %>

    <div class="estampats">
      <label>Estampats:</label>
      <input type="hidden" name="estampat_darrera" value="triangle_gran_2" />
      <ul>
        <li><a href="triangle_gran_1" title="Triangle 1"><%= image_tag("images/estampats/triangle_gran_1.png") %></a></li>
        <li><a href="triangle_gran_2" class="selected" title="Triangle 2"><%= image_tag("images/estampats/triangle_gran_2.png") %></a></li>
        <li><a href="triangle_gran_3" title="Triangle 3"><%= image_tag("images/estampats/triangle_gran_3.png") %></a></li>
        <li><a href="triangle_gran_4" title="Triangle 4"><%= image_tag("images/estampats/triangle_gran_4.png") %></a></li>
        <li><a href="" title="Sense estampat"><%= image_tag("images/estampats/no.png") %></a></li>
      </ul>
      <br class="clear" />
    </div>

    <div class="botons">
      <%= f.submit value:"Guarda" %>
    </div>

    <div id="zoom"></div>
  </div>
<% end %>