<% provide(:title, t('carts.title')) %>
<% content_for :titols do %>
  <h1><%= t('carts.title') %></h1>
  <h2>Comprovació</h2>
<% end %>

<%= render :partial => 'menu', :locals=>{:apartat => 'validation'} %>
<%= form_for :order, :url => order_cart_path, :html => { :id => 'order_form' } do |f| %>
  <div class="cistella">
    <table>
      <%= render :partial => "cart", :locals=>{:validacio => true} %>
      <%= render :partial => "validation", :locals=>{:form => f} %>
      <% if @error %>
        <tr class="error">
          <td></td>
          <td class="detalls">
            <h4>Error</h4>
            <p><%= @error %></p>
          </td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
      <%= render :partial => "pagament", :locals=>{:form => f} %>
    </table>
  </div>
  <% if @cart.shipment_address && @cart.invoice_address && @cart.items_amount > 0 %>
  <div class="botons">
    <a href="#" onclick="$('#order_form').submit(); return false;" class="boto ok"><span></span>Finalitzar la comanda</a>
  </div>
  <% end %>
<% end %>
<% if @error %>
  <script type="text/javascript">
  $("document").ready(function() {
    $('html,body').animate({scrollTop: $(".error").offset().top},'slow');
  })
  </script>
<% end %>
