<% content_for :titols do %>
  <h1>Identificació</h1>
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <label>Recorda'm en aquest ordinador</div>
  <% end -%>

  <div><%= f.submit "Identificació" %></div>
<% end %>

<%= render "devise/shared/links" %>
