<% provide(:title, "#{t("coleccions.index.title")} | #{@coleccio.nom}") %>
<% provide(:class, "coleccio") %>
<% content_for :titols do %>
  <h1><%= @coleccio.nom %></h1>
<% end %>

<div id="coleccio" class="jThumbnailScroller">
    <div class="jTscrollerContainer">
        <div class="jTscroller">
          <%= image_tag("images/coleccions/coleccio2012.jpg") %>
          <script type="text/javascript">ample.open();</script>
          <svg
             xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             version="1.1"
             width="2719"
             height="550"
             viewBox="0 0 2719.0001 550"
             id="mascares"
             xml:space="preserve">
            <% @coleccio.productes.model_o_nina.each do |producte| %>
              <path d="<%= producte.coleccio_path %>" id="coleccio_<%= producte.position %>_linia" style="opacity:0;fill:#000088;fill-opacity:1;stroke:none" />
            <% end %>
          </svg>
          <script type="text/javascript">ample.close()</script>
          <%= image_tag("transparent.png", :usemap => "#coleccio_map") %>
          <map id="coleccio_map" name="coleccio_map">
            <% @coleccio.productes.model_o_nina.each do |producte| %>
              <area shape="poly" alt="<%=producte.nom%>" title="<%=producte.nom%>" coords="<%=producte.coleccio_mascara_path%>" href="<%=producte_path(@coleccio,producte)%>" id="coleccio_<%=producte.position%>" />
            <% end %>
          </map>
          <% @coleccio.productes.model_o_nina.each do |producte| %>
            <span style="<%=producte.coordenades_coleccio%>" id="coleccio_<%= producte.position %>_nom"><%=producte.nom%></span>
          <% end %>
        </div>
    </div>
</div>        

<div id="text">
  <p>“Quatre Mans, i en especial aquesta primera col·lecció “Senzillament salvatges”, vol buscar l'essència dels nens, allò que els fa divertits, innocents i tan vius!. Pretén trobar la seva essència més lliure, tot buscant l'equilibri entre allò natural i fantasiós. Busquem el nen dinàmic, el nen que somriu sense saber el perquè. Busquem el nen en l'infant.</p>

  <p>És per aquest motiu que hem creat una col·lecció funcional en tots els sentits, que es compenetra amb el natural i salvatge. Hem creat patrons dinàmics, que no s'arrapen al cos, que permeten als nens amagar-se darrera les caputxes, córrer pels camps, jugar amb la sorra o anar de quatre grapes.</p>

  <p>Assimilem el nen a un petit animal lliure, natural i sovint desconegut que el que més desitja és explorar i conèixer tot el que l'envolta.”</p>
</div>