<% provide(:title, "#{t("coleccions.index.title")} | #{@coleccio.nom}") %>
<% provide(:class, "coleccio") %>
<% content_for :titols do %>
  <h1><%= t("coleccions.coleccio_x", :nom => @coleccio.nom) %></h1>
<% end %>

<div id="coleccio" class="jThumbnailScroller">
    <div class="jTscrollerContainer">
        <div class="jTscroller">
          <%= image_tag("images/coleccio2012.jpg") %>
        </div>
    </div>
</div>        
<%
=begin %>
<ul class="thumbnails">
  <% @coleccio.productes.each do |producte| %>
    <li class="span4">
      <div class="thumbnail">
        <% if producte.fotos.count > 0 %>
        <%= link_to image_tag(producte.fotos.first.file.url(:medium)), producte_path(@coleccio,producte) %>
        <% else %>
        <%= link_to image_tag("assets/images/1.jpg"), producte_path(@coleccio,producte) %>
        <% end %>
        <h3><%= link_to producte.nom, producte_path(@coleccio,producte) %></h3>
        <p><%= simple_format(producte.descripcio) %></p>
      </div>
    </li>
  <% end %>
</ul>
=end %>