<% provide(:title, t(".modify")) %> 
<h1><%= t(".modify") %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |f| %>
      <%= render 'form', f: f %>
      <%= f.submit t('misc.save'), class: "btn btn-large btn-primary" %>
      <%= link_to t('misc.delete'), @product, method: :delete, data: { confirm: t('misc.sure']) }, class: "btn btn-large btn-primary" %>
      <%= link_to t('misc.cancel'), products_path, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>