<% provide(:title, t(".add")) %>
<h1><%= t(".add") %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |f| %>
      <%= render 'form', f: f %>
      <%= f.submit t('misc.save'), class: "btn btn-large btn-primary" %>
      <%= link_to t('misc.cancel'), products_path, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>