<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to t('site_title'), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to t('static_pages.quisom.title'),    quisom_path %></li>
          <li><%= link_to t('static_pages.contacte.title'),    contacte_path %></li>
          <li><%= link_to t('products.index.title'),   products_path %></li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t("meta.language_name") %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% I18n.available_locales.each do |locale| %>
                <li><%# link_to t("meta.language_name", :locale => locale.to_sym), :locale=>locale %><%= link_to t("meta.language_name", :locale => locale.to_sym), eval("root_#{locale}_path") %></li>
              <% end %>
            </ul>
          </li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user && current_user.admin? %>
                <li><%= link_to t('admin.title'), "#" %></li>
                <% end %>
                <li><%= link_to t('sessions.signout'), signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t('sessions.signin'), signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>