<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Nina", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Qui som?",    quisom_path %></li>
          <li><%= link_to "Contacte",    contacte_path %></li>
          <li><%= link_to "Productes",   products_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <% if current_user && current_user.admin? %>
                <li><%= link_to "Administracio", "#" %></li>
                <% end %>
                <li><%= link_to "Desconnectar", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Connectar", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>