<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
    <%= render 'shared/shim' %>
  </head>
  <body class="<%= yield(:class) %>">
    <a id="dalt" title="Dalt"></a>
    <div class="container">
      <header>
        <%= link_to image_tag("logo.png", alt: t('site_title')), root_path, id: "logo", title: t('site_title') %>
        <div class="titols">
          <%= yield(:titols) %>
        </div>
        <%= render 'shared/header' %>
      </header>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
      
    </div>
    <%= render 'shared/analytics' %>
  </body>
</html>
